In [ ]:
df.to_csv('/content/netflix_cleaned.csv', index=False)
print("Cleaned file saved successfully!")

Cleaned file saved successfully!

In [ ]:
df['duration'] = df['duration'].fillna("Unknown")

In [ ]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
added_year      0
added_month     0
duration_num    0
dtype: int64

In [ ]:
df['duration_num'] = df['duration_num'].fillna(0)

/tmp/ipython-input-3764472609.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['duration_num'] = df['duration_num'].fillna(0)

In [ ]:
df['added_year'] = df['added_year'].fillna(0).astype('Int64')
df['added_month'] = df['added_month'].fillna(0).astype('Int64')

In [ ]:
df['date_added'] = df['date_added'].fillna("Unknown")

In [ ]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      98
release_year     0
rating           0
duration         3
listed_in        0
description      0
added_year      98
added_month     98
duration_num     3
dtype: int64

In [ ]:
def extract_duration(x):
    if pd.isna(x): return pd.NA
    x = x.lower()
    if "min" in x:
        return int(x.split("min")[0].strip())
    if "season" in x:
        return int(x.split("season")[0].strip())
    return pd.NA

df['duration_num'] = df['duration'].apply(extract_duration)
df['duration_num'].head()

0    90
1     2
2     1
3     1
4     2
Name: duration_num, dtype: object

In [ ]:
df['added_year'] = df['date_added'].dt.year
df['added_month'] = df['date_added'].dt.month

In [ ]:
df['date_added'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [ ]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [ ]:
for col in ['type','country','rating']:
    df[col] = df[col].str.title()

In [ ]:
text_cols = ['type','title','director','cast','country','rating','listed_in','description']

for col in text_cols:
    df[col] = df[col].astype(str).str.strip()

In [ ]:
df['rating'] = df['rating'].fillna('Not Rated')

In [ ]:
df['country'] = df['country'].fillna('Unknown')

In [ ]:
df['director'].isnull().sum()

np.int64(0)

In [ ]:
df['director'] = df['director'].fillna('Unknown')

In [ ]:
before = len(df)
df = df.drop_duplicates()
after = len(df)
print("Duplicates removed:", before - after)

Duplicates removed: 0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
from google.colab import files
import io
import pandas as pd

uploaded = files.upload()   # click "Choose Files" and upload netflix_titles.csv
# uploaded is a dict: {filename: content}
fn = next(iter(uploaded))   # gets the uploaded filename
df = pd.read_csv(io.BytesIO(uploaded[fn]))
df.head()

Saving netflix_titles.csv to netflix_titles.csv

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...